include LICENSE
include README.md
include AUTHORS
include requirements.txt
include requirements-dev.txt

recursive-include nazs/web/templates *
recursive-include nazs/web/static *

recursive-include nazs/core/templates *
recursive-include nazs/network/templates *
recursive-include nazs/samba/templates *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
