recursive-include nazs/core/web/templates *
recursive-include nazs/web/templates *
recursive-include nazs/web/static *

recursive-include nazs/network/templates *
recursive-include nazs/samba/templates *
