/* MAIN STYLES */
.table td {
    vertical-align: middle !important;
}

.pretable {
    width: 50%;
}

.actions {
    padding: 10px 0;
}

.form-horizontal .control-label {
    float: left;
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-horizontal .form-group > div {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333333%;
}

/* HEAD NAV */
#header {
    padding: 0 !important;
}

#loading {
    padding: 10px;
    display: none;
}

body.loading #loading {
    display: block;
}


.navbar-nav>li .btn {
    line-height: 20px;
    margin-top: 7px;
}


/* MODULES MENU */
#menu ul {
    border-radius: 5px;
}

#menu ul ul {
    margin-left: 20px;
}

#main {
    border-radius: 5px;
}
