{% load staticfiles %}
{% load achilles %}
<!DOCTYPE html>
<html>
  <head>
    <title>droplet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
{% block content %}{% endblock %}

    {% csrf_token %}
  </body>
  {% achilles_js %}
  <script src="{% static 'js/droplet.js' %}"></script>
</html>
